<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Questa è la homepage del sito!</h1>

    <h2>Benvenuti alla funzione Home!</h2>
    <button style="border: 2px; color:aqua">schiaccia pirla</button>

    {{ articoli }}

    {{ giornalisti }}

    <br>

    <h4>Giornalist:</h4>

    {% for giornalista in giornalisti %}
        <p> {{ giornalista.nome }} {{ giornalista.cognome }} </p>
    {% endfor %}
</body>
</html>